[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "acfMPeriod"]
	path = acfMPeriod
	url = https://github.com/rogih/acfmperiod
[submodule "tsqn"]
	path = tsqn
	url = https://github.com/rogih/tsqn
